*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    font-family: 'Roboto', sans-serif; ;
    }
      /** Header Start **/
    
    
    .header{
    width: 100%;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: #35424a;
    border-bottom: 2px solid #d7219b;
    
    }
      /*! -----Header left------ **/
    
    .header .header_left a{
    text-decoration: none;
    color: white;
    
    }
    .header .header_left #ozelbaslık{
    color: #d7219b;
    }
    
    
    /*! -----Header Right------ **/
    
    .header .header_right .menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    }
    

    .main_banner_search{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        background-color: #35424a;
        
        
        }
        
        .main_banner_search #baslık a{
        color: white;
        text-decoration: none;
        font-size: 20px;
         /*? SEARCH VE BUTTONA PADDİNG VERDİMİ ARALARI NDAKİ HİZALAMA BOZULUYOR  MARGİN VE PADDİNG VEREREK DÜZELTEMEDİM ???  */
        padding: 8px;
        }
        
        
        
        .main_banner_search #search{
        padding: 5px;
        }
        
        .main_banner_search #search input{
        padding: 8px;
        border-radius: 5px;
        border: none;
           
        }
        
        .main_banner_search #search button{
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: #e8491d;
        color: white;
        }
        
        .main_banner_search #search button:hover{
        cursor: pointer;
        background-color: chocolate;
        color: #35424a;
        }


        .par{
display: flex;
        }

        .par h2{

        }


        .par .par_alt{
margin-right: 50px;
margin-left: 20px;
margin-top: 40px;
width: 1000px;
height: 470px;

        }

    .par .par_alt .par_alt1 h2{
            margin-bottom: 10px;
            background-color: white;
        }
        .par .par_alt .par_alt1{
margin-top: 10px;
        background-color: #e6e6e6;
        border: 1px solid#b5afaf;
        
        }
        .par .par_alt .par_alt1 h3{

        }

        .par .par_alt .par_alt1 #p1{
            margin-top: 10px;
        }

        .par .par_alt .par_alt1 #p2{
            margin-top: 10px;
        }

        .par .par_alt .par_alt2{
            margin-top: 20px;
            background-color: #e6e6e6;
            border: 1px solid#b5afaf;
        }

        .par .par_alt .par_alt2 h3{

        }

        .par .par_alt .par_alt2 #p1{
            margin-top: 10px;
        }
        
        .par .par_alt .par_alt2 #p2{
            margin-top: 10px;
        }


        .par .par_alt .par_alt3{
            margin-top: 20px;
            border: 1px solid#b5afaf;
            background-color: #e6e6e6;
        }

        .par .par_alt .par_alt3 h3{

        }

        .par .par_alt .par_alt3 #p1{
            margin-top: 10px;
        }

        .par .par_alt .par_alt3 #p2{
            margin-top: 10px;
        }


        .par .par_form{
           
        margin-top: 40px;
        color: white;
background-color: #35424a;
        }
        .par .par_form .form{
            margin-top: 20px;
            padding: 20px;
       
        }
        .par .par_form h2{
            margin: 20px;
           
        }

        .par .par_form input{
padding: 10px;
width: 240px;
        }

        .par .par_form label{
 margin-top: 10px;
        }
        .par .par_form .form textarea{
            margin-top: 20px;
        }
       
    
        .par .par_form .form button{
            margin-top: 10px;
            padding: 10px;
           background-color: #e8491d;
           border: none;
           border-radius: 3px;
           color: white;
        }

        .par .par_form .form button:hover{
        width:60px ;
        background-color: #e8491d;
        cursor: pointer;
        }

        /*! -----footer------ **/
.footer{
    padding: 20px;
    margin-top: 350px;
    background-color: #35424a;
    width: 100%;
height: 100%;
    text-align: center;
 
    }
    
    .footer #p{
    color: white;
     
    }
    
    .footer #logo{
    margin-top: 10px;
    }


